body {
	font-family: "Open Sans";
	margin: 0 auto;
	background-color: #f2f2f2;
	position: relative;
}

#top-bar {
	height: 60px;
	width: 75%;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
	font-family: "Lato";
	font-weight: 700;
	font-size: 50px;
}

#description {
	height: 30px;
	width: 75%;
	margin: 0 auto;
	text-align: center;
	font-family: "Lato";
	font-weight: 300;
	font-size: 25px;
}

#return-to-home {
	height: 40px;
	width: 25%;
	margin: 0 auto;
	text-align: center;
	font-family: "Lato";
	font-style: italic;
	font-weight: 300;
	font-size: 20px;
	visibility: hidden;
}

#return-to-home div {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	visibility: hidden;
}

#return-to-home div:hover {
	letter-spacing: 2px;
	transition: .3s;
}

.row {
	width: 75%;
	margin: 0 auto;
	position: relative;
	text-align: center;
	position: relative;
}

.row-active {
}

.category {
	position: absolute;
	color: white;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	font-size: 25px;
	font-weight: 300;
	font-family: "Lato";
	letter-spacing: 5px;
	visibility: hidden;
	transition: .3s;
}

.row:hover .category {
	letter-spacing: 10px;
}

.row-box {
	display: inline-block;
	margin: 0 auto;
	width: 33.33%;
	height: 45%;
	overflow: hidden;
	background-color: black;
}

.row-box img {
	height: 100%;
	transition: .4s;
}

#name-box {
	background-color: #00384d;
}

svg {
	width: 90%;
	padding: 20px;
	margin-top: 15%;
	-webkit-filter: invert(75%);
    filter: invert(75%);
}

path {
	stroke-dasharray: 550;
	stroke-dashoffset: 550;
	animation: dash 3s ease-in-out infinite;
}

@keyframes dash {
	to {
		stroke-dashoffset: 0;
		opacity: 1;
	}
}

#icons {
	height: 50px;
	display: table;
	margin: 0 auto;
	margin-bottom: 15px;
}

#icons img {
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 15px;
	height: 30px;
}

#icons img:hover {
	opacity: 0.5;
	transition: 0.2s;
}

#mail img {
	height: 32px;
}

#icon-credit {
	height: 15px;
	font-family: "Lato";
	font-weight: 100;
	font-size: 10px;
	width: 100%;
	text-align: center;
	position: relative;
	top: 50%;
	transform:translateY(50%);
}

#about-container {
	background-color: rgba(0,0,0,0.1);
	margin: 0 auto;
	width: 75%;
	height: 100%;
	display: none;
	margin-top: 10px;
	font-family: "Lato";
	font-weight: 300;
	font-size: 14px;
	text-align: center;
	color: white;
}

#projects-container {
	background-color: rgba(0,0,0,0.1);
	margin: 0 auto;
	width: 75%;
	height: 100%;
	display: none;
	margin-top: 10px;
	font-family: "Lato";
	font-weight: 300;
	font-size: 14px;
	text-align: center;
	color: white;
}

#exploration-container {
	background-color: rgba(0,0,0,0.1);
	margin: 0 auto;
	width: 75%;
	height: 100%;
	display: none;
	margin-top: 10px;
	font-family: "Lato";
	font-weight: 300;
	font-size: 14px;
	text-align: center;
	color: white;
}