html {
	overflow-y: scroll;
}

body {
	font-family: "Open Sans";
	margin: 0 auto;
	background-color: #f2f2f2;
	position: relative;
}

#top-bar {
	height: 60px;
	width: 75%;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
	font-family: "Lato";
	font-weight: 700;
	font-size: 50px;
}

#description {
	height: 10px;
	width: 75%;
	margin: 0 auto;
	text-align: center;
	font-family: "Lato";
	font-weight: 300;
	font-size: 25px;
}

#return-to-home {
	height: 40px;
	width: 300px;
	margin: 0 auto;
	text-align: center;
	font-family: "Lato";
	font-style: italic;
	font-weight: 300;
	font-size: 20px;
	visibility: hidden;
}

#return-to-home div {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	visibility: hidden;
}

#return-to-home div:hover {
	letter-spacing: 2px;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	-ms-transition: .3s;
}

.row {
	width: 900px;
	margin: 0 auto;
	position: relative;
	text-align: center;
	position: relative;
}

.row-active {
}

.category {
	position: absolute;
	color: white;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	font-size: 25px;
	font-weight: 300;
	font-family: "Lato";
	letter-spacing: 5px;
	visibility: hidden;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	-ms-transition: .3s;
}

.row:hover .category {
	letter-spacing: 10px;
}

.row-box {
	display: inline-block;
	margin: 0 auto;
	width: 300px;
	height: 275px;
	overflow: hidden;
	background-color: black;
}

.row-box img {
	height: 100%;
	transition: .4s;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-o-transition: .4s;
	-ms-transition: .4s;
}

#name-box {
	background-color: #00384d;
}

svg {
	width: 90%;
	padding: 20px;
	margin-top: 15%;
	-webkit-filter: invert(75%);
	-moz-filter: invert(75%);
	-o-filter: invert(75%);
	-ms-filter: invert(75%);
    filter: invert(75%);
}

path {
	stroke-dasharray: 550;
	stroke-dashoffset: 550;
	animation: dash 3s ease-in-out forwards;
}

@keyframes dash {
	to {
		stroke-dashoffset: 0;
		opacity: 1;
	}
}

#icons {
	height: 50px;
	display: table;
	margin: 0 auto;
	margin-bottom: 15px;
}

#icons img {
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 15px;
	height: 30px;
}

#icons img:hover {
	opacity: 0.5;
	transition: .2s;
	-webkit-transition: .2s;
	-moz-transition: .2s;
	-o-transition: .2s;
	-ms-transition: .2s;
}

#mail img {
	height: 32px;
}

#icon-credit {
	height: 15px;
	font-family: "Lato";
	font-weight: 100;
	font-size: 10px;
	width: 100%;
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(50%);
	-webkit-transform: translateY(50%);
	-moz-transform: translateY(50%);
	-o-transform: translateY(50%);
	-ms-transform: translateY(50%);
}

#about-container {
	margin: 0 auto;
	width: 900px;
	height: 600px;
	display: none;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: "Lato";
	font-weight: 300;
	font-size: 16px;
	text-align: center;
	color: white;
	overflow: hidden;
	background-image: url("../img/jacobs.jpg");
	background-size: 100%;
	opacity: 0.8;
}

#about-description {
	background-color: black;
	opacity: 0.9;
	margin: 0 auto;
	height: 100%;
	width: 40%;
	float: left;
	margin-left: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

#about-description p {
	padding: 5px;
	margin: 5px;
}

#about-description a {
	text-decoration: none;
	color: #ff6666;
}

#about-description a:hover {
	opacity: 0.8;
}

#projects-container {
	margin: 0 auto;
	width: 900px;
	display: none;
	margin-top: 10px;
	font-family: "Lato";
	font-weight: 300;
	font-size: 14px;
	text-align: center;
	color: white;
}

.project-row {
	width: 900px;
	margin: 0 auto;
	margin-bottom: 10px;
	position: relative;
	text-align: center;
	position: relative;
}

.project-row-active {
}

.project-category {
	position: absolute;
	color: white;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	font-size: 25px;
	font-weight: 300;
	font-family: "Lato";
	letter-spacing: 5px;
	visibility: hidden;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	-ms-transition: .3s;
}

.project-row:hover .project-category {
	letter-spacing: 10px;
}

.project-row-box {
	display: inline-block;
	margin: 0 auto;
	width: 300px;
	height: 275px;
	overflow: hidden;
	background-color: black;
}

.project-row-box img {
	height: 100%;
	transition: .4s;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-o-transition: .4s;
	-ms-transition: .4s;
}

#project-sixth-row {
	margin-bottom: 50px;
}

#dum-e-container {
	background-color: rgba(0,0,0,0.7);
	margin: 0 auto;
	width: 900px;
/*	height: 50%;*/
	display: none;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: "Lato";
	font-weight: 300;
	font-size: 16px;
	text-align: center;
	color: white;
}

#dum-e-container div {
	position: relative;
	display: inline-block;
/*	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);*/
}

#dum-e-description {
	padding: 5px;
	margin: 5px;
}

#dum-e-description a {
	text-decoration: none;
	color: #ff6666;
}

#first-close {
 	position: absolute;
 	top: 0;
  	right: 0;
  	margin-top: 5px;
  	cursor: pointer;
  	font-family: "Lato";
  	font-style: italic;
	font-weight: 300;
	font-size: 16px;
	text-align: center;
	color: #ff6666;
}

#zest-container {
	background-color: rgba(0,0,0,0.7);
	margin: 0 auto;
	width: 900px;
/*	height: 50%;*/
	display: none;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: "Lato";
	font-weight: 300;
	font-size: 16px;
	text-align: center;
	color: white;
}

#zest-container div {
	position: relative;
	display: inline-block;
/*	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);*/
}

#zest-description {
	padding: 5px;
	margin: 5px;
}

#zest-description a {
	text-decoration: none;
	color: #ff6666;
}

#second-close {
 	position: absolute;
 	top: 0;
  	right: 0;
  	margin-top: 5px;
  	cursor: pointer;
  	font-family: "Lato";
  	font-style: italic;
	font-weight: 300;
	font-size: 16px;
	text-align: center;
	color: #ff6666;
}

#mechatronic-hand-container {
	background-color: rgba(0,0,0,0.7);
	margin: 0 auto;
	width: 900px;
/*	height: 50%;*/
	display: none;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: "Lato";
	font-weight: 300;
	font-size: 16px;
	text-align: center;
	color: #ff6666;
}

#mechatronic-hand-container div {
	position: relative;
	display: inline-block;
/*	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);*/
}

#mechatronic-hand-description {
	padding: 5px;
	margin: 5px;
}

#mechatronic-hand-description a {
	text-decoration: none;
	color: #ff6666;
}

#third-close {
 	position: absolute;
 	top: 0;
  	right: 0;
  	margin-top: 5px;
  	cursor: pointer;
  	font-family: "Lato";
  	font-style: italic;
	font-weight: 300;
	font-size: 16px;
	text-align: center;
	color: #ff6666;
}

#eargonomic-container {
	background-color: rgba(0,0,0,0.7);
	margin: 0 auto;
	width: 900px;
/*	height: 50%;*/
	display: none;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: "Lato";
	font-weight: 300;
	font-size: 16px;
	text-align: center;
	color: white;
}

#eargonomic-container div {
	position: relative;
	display: inline-block;
/*	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);*/
}

#eargonomic-description {
	padding: 10px;
	margin: 10px;
}

#eargonomic-description a {
	text-decoration: none;
	color: #ff6666;
}

#eargonomic-description a:hover {
	opacity: 0.8;
}

#eargonomic-description img {
	max-width: 100%;
	max-height: 100%;
}

#fourth-close {
 	position: absolute;
 	top: 0;
  	right: 0;
  	margin-top: 5px;
  	cursor: pointer;
  	font-family: "Lato";
  	font-style: italic;
	font-weight: 300;
	font-size: 16px;
	text-align: center;
	color: #ff6666;
}

#other-container {
	background-color: rgba(0,0,0,0.7);
	margin: 0 auto;
	width: 900px;
/*	height: 50%;*/
	display: none;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: "Lato";
	font-weight: 300;
	font-size: 16px;
	text-align: center;
	color: white;
}

#other-container div {
	position: relative;
	display: inline-block;
/*	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);*/
}

#other-description {
	padding: 5px;
	margin: 5px;
}

#other-description a {
	text-decoration: none;
	color: #ff6666;
}

#fifth-close {
 	position: absolute;
 	top: 0;
  	right: 0;
  	margin-top: 5px;
  	cursor: pointer;
  	font-family: "Lato";
  	font-style: italic;
	font-weight: 300;
	font-size: 16px;
	text-align: center;
	color: #ff6666;
}

/*#mixer-container {
	background-color: rgba(0,0,0,0.75);
	margin: 0 auto;
	width: 900px;
	height: 50%;
	display: none;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: "Lato";
	font-weight: 300;
	font-size: 30px;
	text-align: center;
	color: white;
}*/

/*#mixer-container div {
	position: relative;
	display: inline-block;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}

.sixth-close {
 	position: absolute;
 	top: 0;
  	right: 0;
  	margin-top: 5px;
  	cursor: pointer;
  	font-family: "Lato";
  	font-style: italic;
	font-weight: 300;
	font-size: 16px;
	text-align: center;
	color: white;
}*/

.close-active {
}

.close:hover {
	opacity: 0.5;
}

ul, li{
    list-style:none;
    list-style-type:none;
    padding-left: 0;
    margin-left: 0;
    padding-right: 0;
    margin-right: 0;
}

.caption {
	padding: 5px;
	font-style: italic;
	font-size: 14px;
	text-align: center;
}

/*.project-box {
	width: 100%;
	height: 280px;
	margin: 0 auto;
	display: inline-block;
	position: relative;
}

.project-pic {
	height: 260px;
	width: 260px;
	margin-left: 0px;
	float: left;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	overflow: hidden;
}

.project-text {
	color: white;
	height: 260px;
	width: 630px;
	position: absolute;
	margin-left: 30%;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	text-align: center;
	position: absolute;
}

.project-text p {
	font-family: "Lato";
	font-size: 20px;
	padding: 0px;
	margin: 0px
}

.project-text a:hover p {
	opacity: 0.8;
}

.project-desc {
	color: white;
	height: 260px;
	width: 630px;
	position: absolute;
	margin-left: 30%;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	text-align: center;
	position: absolute;
	display: none;
}

.project-desc p {
	font-family: "Lato";
	font-size: 16px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0px
}

#me130 .project-desc, #me130 .project-text{
	background-color: #00384d;
	opacity: 0.9;
}

#me130 img {
	height: 100%;
}

#me110 .project-desc, #me110 .project-text{
	background-color: rgba(0,0,0,0.5);
}

#me110 img {
	height: 100%;
}

#me122 .project-desc, #me122 .project-text{
	background-color: #00384d;
	opacity: 0.9;
}

#me122 img {
	height: 100%;
}

#me107 .project-desc, #me107 .project-text{
	background-color: rgba(0,0,0,0.5);
}

#me107 img {
	height: 100%;
}

#me102b .project-desc, #me102b .project-text{
	background-color: #00384d;
	opacity: 0.9;
}

#me102b img {
	height: 100%;
}*/

#exploration-container {
	background-color: rgba(0,0,0,0.7);
	margin: 0 auto;
	width: 900px;
	height: 50%;
	display: none;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: "Lato";
	font-weight: 300;
	font-size: 30px;
	text-align: center;
	color: white;
}

#exploration-container div {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}