body {
	font-family: "Open Sans";
	margin: 0 auto;
	background-color: #f2f2f2;
	position: relative;
}

#top-bar {
	height: 60px;
	width: 75%;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
	font-family: "Lato";
	font-weight: 700;
	font-size: 50px;
}

#description {
	height: 40px;
	width: 75%;
	margin: 0 auto;
	text-align: center;
	font-family: "Lato";
	font-weight: 300;
	font-size: 20px;
}

.row {
	width: 75%;
	margin: 0 auto;
	position: relative;
	text-align: center;
}

.category {
	position: absolute;
	color: white;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	font-size: 25px;
	font-weight: 300;
	font-family: "Lato";
	letter-spacing: 5px;
	visibility: hidden;
	transition: .5s;
}

.row:hover .category {
	letter-spacing: 10px;
}

.row-box {
	display: inline-block;
	margin: 0 auto;
	width: 33.33%;
	height: 45%;
	overflow: hidden;
	background-color: black;
}

.row-box img {
	height: 100%;
	transition: .5s;
}

#third-row {
	margin-bottom: 20px;
}

svg {
	width: 90%;
	padding: 20px;
	margin-top: 15%;
	-webkit-filter: invert(75%);
    filter: invert(75%);
}

path {
	stroke-dasharray: 550;
	stroke-dashoffset: 550;
	animation: dash 3s ease-in-out infinite;
}

@keyframes dash {
	to {
		stroke-dashoffset: 0;
		opacity: 1;
	}
}

#name-box {
	background-color: #00384d;
}